body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.has-error .help-block,
.has-error .control-label {
    color: #b94a48;
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

    .has-error .form-control:focus {
        border-color: #953b39;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }

.has-error .input-group-addon {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}


.btn-success-site {
    /*color: #fff;
    background-color: #1cc88a;*/
    border-color: #1cc88a;
}

.btn-success-site:hover {
    color: #fff;
    background-color: #17a673;
    border-color: #169b6b;
}

.btn-success-site:focus, .btn-success-site.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}

.btn-success-site.disabled, .btn-success-site:disabled {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success-site:not(:disabled):not(.disabled):active, .btn-success-site:not(:disabled):not(.disabled).active,
.show > .btn-success-site.dropdown-toggle {
    color: #fff;
    background-color: #169b6b;
    border-color: #149063;
}

.btn-success-site:not(:disabled):not(.disabled):active:focus, .btn-success-site:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-site.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}
