body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.has-error .help-block,
.has-error .control-label {
    color: #b94a48;
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

    .has-error .form-control:focus {
        border-color: #953b39;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }

.has-error .input-group-addon {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}


.btn-success-site {
    /*color: #fff;
    background-color: #1cc88a;*/
    border-color: #1cc88a;
}

.btn-success-site:hover {
    color: #fff;
    background-color: #17a673;
    border-color: #169b6b;
}

.btn-success-site:focus, .btn-success-site.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}

.btn-success-site.disabled, .btn-success-site:disabled {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success-site:not(:disabled):not(.disabled):active, .btn-success-site:not(:disabled):not(.disabled).active,
.show > .btn-success-site.dropdown-toggle {
    color: #fff;
    background-color: #169b6b;
    border-color: #149063;
}

.btn-success-site:not(:disabled):not(.disabled):active:focus, .btn-success-site:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-site.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}


@page {
    size: auto; /* auto is the current printer page size */
    margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
    #print {
        display: none;
    }
}


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )50% 50% no-repeat;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

    .loading-bar:nth-child(1) {
        background-color: #3498db;
        animation-delay: 0;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 49%;
    }

    .loading-bar:nth-child(2) {
        background-color: #c0392b;
        animation-delay: 0.09s;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 49.5%;
    }

    .loading-bar:nth-child(3) {
        background-color: #f1c40f;
        animation-delay: .18s;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
    }

    .loading-bar:nth-child(4) {
        background-color: #27ae60;
        animation-delay: .27s;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50.5%;
    }

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}