
@{
    ViewBag.Title = "Facturalo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Facturalo</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Atenciones.</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <a id="btnAddLaboratory" href='@Url.Action("FacturaloJson","Attention")' class="btn btn-info ml-1 addattention"><i class="fas fa-plus-circle"></i> Laboratorio </a>
            
        </div>
    </div>
</div>